
<article style="background: black">
 <ul>
 <div class="box">
   <h1>
DarkCode</h1>
<h5>
Web Devloper - Web Designer</h5>
<p>
A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.</p>
 </div>
 
  <div class="container" style="left:65%; top: 35%">
   <img src="assets/img/foto.png" alt="Avatar" class="image" style="width:50%">
   <div class="middle" >
     <div class="text">Hello, there!</div>
   </div>
  </div>
 </ul>
 <div class="box"> </div>
</article>
