
<article style="background: #ffffff">
 <ul>
  <div class="parental">
    
    <div class="box">
      <h1>R coder</h1>
      <h5>Data science - Phylogenetic comparative analyses</h5>
      <p>In this example, the pattern is repeated to create the whole background. 
        Within the pattern tag, an id is assigned that can be referred to as the pattern id. 
        It can be useful as this pattern could be easily used later on in code by referring to this id. </p>
    </div>

    <div class="container">
      <img src="assets/img/circledisign.png" alt="Avatar" class="image" style="width:100%">
      <div class="middle" >
        <div class="text">Hello, there!</div>
      </div>
    </div>

  </div>
</ul>
</article>
